.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color:hsla(0,0%,7%,1);
  background-image:
  radial-gradient(at 11% 55%, hsla(235,50%,23%,1) 0px, transparent 50%),
  radial-gradient(at 42% 29%, hsla(130,50%,23%,1) 0px, transparent 50%),
  radial-gradient(at 5% 3%, hsla(0,50%,23%,1) 0px, transparent 50%);
  color: white;
}

.App-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  padding-left: 100px;
  padding-right: 100px;
}

.App-main {
  padding-left: 100px;
  padding-right: 100px;
  display: flex;
  gap: 20px;
}

.logo {
  margin-right: 20px;
}

.nav-links {
  display: flex;
  justify-content: flex-end;
}

.nav-links a {
  margin-left: 20px;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.description-container {
  height: 550px;
  flex: 7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(11.2px);
  -webkit-backdrop-filter: blur(11.2px);
}

.text-container {
  width: 100%;
  height: 100%;
  padding: 80px;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.description-container h1 {
  font-size: 2.5rem;
  margin-bottom: 0px;
  margin-top: 0px;
}

.description-container p {
  font-size: 1.7rem;
  margin-bottom: 0px;
  margin-top: 0px;
}

.projects-container {
  display: flex;
  flex-direction: column;
  height: 550px;
  border-radius: 40px;
  flex: 3;
  gap: 20px;
}

.project {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  box-sizing: border-box;
  padding: 40px 40px 0px 40px;
  transition: box-shadow 0.2s ease-in-out;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.project:hover {
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
}

.project-1 {
  /* From https://css.glass */
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.2px);
  -webkit-backdrop-filter: blur(8.2px);
  font-size: 24px; /* larger text size */
  font-family: "Courier New", Courier, monospace; /* use Courier font */
}

.project-description {
  font-size: 15px;
  margin-top: 5px;
}

.project-header {
  font-size: 20px; /* smaller text size */
  margin: 0px;
  text-decoration: underline dotted;
}

.project-2 {
  /* From https://css.glass */
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.2px);
  -webkit-backdrop-filter: blur(8.2px);
  font-size: 24px; /* larger text size */
  font-family: "Courier New", Courier, monospace; /* use Courier font */
}

.project-3 {
  /* From https://css.glass */
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.2px);
  -webkit-backdrop-filter: blur(8.2px);
  font-size: 24px; /* larger text size */
  font-family: "Courier New", Courier, monospace; /* use Courier font */
}
.contact {
  background-color: #191919;
  color: white;
  width: 200px;
  font-family: "Courier New", Courier, monospace;
  font-size: 1.2em; /* adjust the value as needed */
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.contact:hover {
  opacity: 0.8;
}
.linkedin-button {
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 4px;
  background-color: #191919;
  cursor: pointer;
}

.infobar {
  display: flex;
  gap: 10px;
}
